div.dialog.prompt(ng-if="topMenu.activeLink === '4'")
  form(ng-submit='topMenu.installVersionPackage(shell.currentSelectedPackages[0], topMenu.versionPackageVersion)')
    input(placeholder='Package name',
      type='text',
      readonly,
      disabled
      ng-value="shell.currentSelectedPackages[0].name")
    = " "
    input(placeholder='@version',
      ng-autofocus,
      type='text',
      ng-model='topMenu.versionPackageVersion',
      ng-value="pkgVersionModel")
    = " "
    span(class="prompt-kind")
      select(name="packageVersionSelect", ng-model="pkgVersionModel")
        option(value="", selected)
          | -
        option(ng-repeat="pkgVersion in shell.selectedPackageViewInfos.versions | orderBy : pkgVersion : 'reverse' track by $index", ng-value="pkgVersion")
          | {{pkgVersion}}
    button
      span(ng-show="!topMenu.installingPackageVersion")
        | Install
      span(ng-show="topMenu.installingPackageVersion")
        img(src="img/loading.svg", width="13")
    = " "
    = " "
    i(class="fa fa-times-circle-o", ng-click="topMenu.activeLink = undefined;")
