div.dialog.prompt(ng-if="topMenu.activeLink === '4'")
  form(ng-submit='topMenu.installVersionPackage(shell.currentSelectedPackages[0], topMenu.versionPackageVersion)')
    input(placeholder='Package name',
      type='text',
      readonly,
      disabled
      ng-value="shell.currentSelectedPackages[0].name")
    = " "
    input(placeholder='@version',
      ng-autofocus,
      type='text',
      ng-model='topMenu.versionPackageVersion',
      value="shell.currentSelectedPackages[0]")
    = " "
    span(class="prompt-kind")
      select
        option(ng-repeat="version in shell.selectedPackageViewInfos.versions")
          | {{version}}
    button(ng-class="{'disabled': topMenu.installingPackageVersion || !topMenu.versionPackageVersion}")
      span(ng-show="!topMenu.installingPackageVersion")
        | Install
      span(ng-show="topMenu.installingPackageVersion")
        img(src="img/loading.svg", width="13")
    = " "
    = " "
    i(class="fa fa-times-circle-o", ng-click="topMenu.activeLink = undefined;")
