div.dialog.prompt(ng-show="showSpecificVersionPrompt", ng-init="versionPackageVersion = undefined")
  form(ng-submit='installVersionPackage(currentSelectedPackages[0], versionPackageVersion)')
    input(placeholder='Package name',
      type='text',
      readonly,
      disabled,
      ng-value="currentSelectedPackages[0].name")
    = " "
    input(class="hide",
      placeholder='@version',
      ng-autofocus,
      type='text',
      ng-model='versionPackageVersion',
      ng-value="versionPackageVersion")
    = " "
    span(class="prompt-kind")
      select(name="packageVersionSelect", ng-model="pkgVersionModel", ng-change="versionPackageVersion = pkgVersionModel")
        option(value="", selected)
          | -
        option(ng-repeat="pkgVersion in selectedPackageViewInfos.versions | orderBy : pkgVersion : 'reverse' track by $index", ng-value="pkgVersion")
          | {{pkgVersion}}
    button
      span(ng-show="!installingPackageVersion")
        | Install
      span(ng-show="installingPackageVersion")
        img(src="img/loading.svg", width="13")
    = " "
    = " "
    i(class="fa fa-times-circle-o button-close-prompt", ng-click="showSpecificVersionPrompt = false")
